body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body a {
  /*color: #00B7FF;*/
  color: darkred;
}

#avatar {
    width: 225px;
    height: 175px;
}

nav a {
    color: #555;
}